# -------- Postgres Configuration --------
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_DB="postgres"
MAIN_DB="library"
MONITORING_DB="monitoring"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
EVENT_GENERATOR_USER="event_generator"
EVENT_GENERATOR_PASSWORD="evt"
DEBEZIUM_USER="debezium"
DEBEZIUM_PASSWORD="dbz"
MONITORING_USER="monitoring"
MONITORING_PASSWORD="mtg"
# -------- Kafka Configuration --------
KAFKA_HOST="kafka-broker"
KAFKA_PORT="29092"
# -------- Debezium Kafka Connect Configuration --------
KAFKA_CONNECT_HOST="debezium"
KAFKA_CONNECT_PORT="8083"
# -------- Jupyter Configuration --------
JUPYTER_ENABLE_LAB="yes"
JUPYTER_TOKEN="mytoken"
# -------- Spark Connect Configuration --------
SPARK_CONNECT_HOST="spark"
SPARK_CONNECT_PORT="15002"